---
layout: default
title: Home
---
<section class="home-search-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <!-- <img src="/assets/images/stocky/smarthub-logo.png" class="img-fluid" alt="logo"> -->
        <h1 class="font-weight-bold pt-4 text-white">A Head Start Into the Future</h1>
        <p class="mb-4 text-white">Introduce your child into the world of STEM to fuel their passion - with Smart Hub.</p>
         <!-- button  -->
        {% include st-call-to-action.html tag="signup" button-alignment="bottom"%}
        <!-- <form class="" action="/search-result/" method="">
          <div class="input-group">
            <input class="form-control" type="text" placeholder="Search Smart Hub" aria-label="Search" required>
            <div class="input-group-append">
              <button type="submit"><i class="fas fa-search text-grey" aria-hidden="true"></i></button>
            </div>
          </div>
        </form> -->
      </div>
    </div>
  </div>
</section>

<section class="home-blog-image-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <img class="pt-4 pb-4" src="assets/images/stocky/book-lover.svg" height="200px">
      </div>
      <div class="col">
        <h1 class="font-weight-bold pt-4 text-white">Our Mission</h1>
        <p class="mb-4 text-white">The mission of Smart Hub is to provide course materials on STEM-related real-life applications such as biomedical engineering, software engineering and quantum computing in a simplified and understandable manner for elementary school children to get a head start on their future interests and careers! </p>
      </div>
    </div>

    <!-- {% include st-shop-image-archive.html %} -->
  </div>
</section>

<section class="home-icon-block-section">
  <div class="container">
    <h2 class="choicetitle">Why Choose Smart Hub?</h2>
    {% include st-info-block.html tag="home-1" laptop=3 tablet=3 mobile=1 content-alignment="center"%}
  </div>
</section>

<!-- <section class="home-post-category-section">
  <div class="container">
    <div class="logo-carousel">
      <div class="post-categories slider">
        <div class="slide">
          {% for post in site.tags.Products reversed %}
          {% if forloop.index < 5 %} <p><strong><a href="/shop-archive/">{{ post.categories }}</a></strong></p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="slide">
          {% for post in site.tags.Products reversed %}
          {% if forloop.index > 4 and forloop.index < 9 %} <p><strong><a href="/shop-archive/">{{ post.categories }}</a></strong></p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="slide">
          {% for post in site.tags.Products reversed %}
          {% if forloop.index > 8 and forloop.index < 13 %} <p><strong><a href="/shop-archive/">{{ post.categories }}</a></strong></p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="slide">
          {% for post in site.tags.Products reversed %}
          {% if forloop.index > 12 and forloop.index < 17 %} <p><strong><a href="/shop-archive/">{{ post.categories }}</a></strong></p>
            {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="home-post-category-section">
  <div class="container">
    <h1 class="choicetitle"> <strong> Endorsed by the Government of Canada! </strong></h1>
    <br>
    <h1 class="choicetitle"> " SOME QUOTE" </h1>
    <a href="parDash.html" role="button" class="btn btn-success"> To Parent Dashboard </a>
  </div>

</section>

<!-- <section class="home-content-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 left-bg">
        <h3 class="mb-3">Create a Marketplace or Sell Your Own Photos</h3>
        <p>Stocky makes it easy to create a site to sell your own photos using the Easy Digital
          Downloads plugin or you can create a marketplace and let anybody sell their photos
          with help from the Frontend Submissions extension for Easy Digital Downloads.</p>
        <div class="hero-button">
          <div class="hero-bg-button bg-button">
            <a href="http://go.scube.co/stocky" class="btn">Buy Stocky Theme</a>
          </div>
          <div class="hero-icon-button icon-button">
            <a href="/features/" class="btn">Check out Stocky’s Features</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 right-bg">
      </div>
    </div>
  </div>
</section> -->

<section class="home-hero-content-section">
  <div class="container">
    {% include st-hero-content.html tag="home-1" layout="image-right" vertical-alignment="center" %}
  </div>
</section>

  <!-- <section class="home-post-section">
    {% include st-three-blog.html %}
  </section>

<section class="home-hero-content-section pb-4">
  <div class="container">
    {% include st-hero-content.html tag="home-2" layout="image-left" vertical-alignment="center" %}
  </div>
</section> -->
