---
layout: full-width
title: "Parent Dashboard"
---

<div class="welcome">
  <div class="title-line">
    <h2 class="st-title">Parent Dashboard</h2>
  </div>
  <p>Welcome! Here is your dashboard to manage your students! Here you can manage and access each student’s account.
    Welcome! Today Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac interdum purus.</p>

  {% include st-call-to-action.html tag="new-student" button-alignment="right"%}
</div>

<!-- <head>
  <link rel="import" href="/_includes/firebase-config.html">
</head> -->

<!-- <script type="text/javascript">
  var doc = document.querySelector('link[rel="import"]').import;
  console.log(signedIn)
</script> -->

{% if user %}
<section id="setupBox">
  <h1>ENTER YOUR NAME:</h1>
</section>
{% endif %}

<section id="students">
  <h2 class="mystudents">My Students</h2>
  <!--  for real gotta loop thru this thing -->
  <!-- how will the student profile be? each student should have different?  -->
  <a href="../student-dash" role="button" class="btn btn-property-del" style="width:600px;">
    <div class="card">
      <div class="card-body">
        <img class="student-img" src="https://th.bing.com/th/id/OIP.R4UQspZW7oAAq4fbbCbixgHaGf?w=189&h=180&c=7&o=5&pid=1.7" alt="student picture" />
        <div class="text">
          <h3 class="student-name"> Bobby Brown </h3>
          <p id="achievement" class="info">
            Grad Level/Start Ranking
          </p>
          <!-- here add achievement about the student -->

        </div>
      </div>
    </div>
  </a>

</section>
