---
layout: aft-login-full-width
title: "Parent Dashboard"
---

<!-- make different permalink for different student? yes, that I can use
the permalink variable to blit the student's name? -->

<div class="welcome">
  <div class="title-line">
    <h2 class="st-title">Parent Dashboard</h2>
  </div>
  <p>Welcome! Here is your dashboard to manage your students! Here you can manage and access each student’s account.
    Welcome! Today Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac interdum purus.</p>

  {% include st-call-to-action.html tag="new-student" button-alignment="right"%}
</div>

<!-- <head>
  <link rel="import" href="/_includes/firebase-config.html">
</head> -->

<!-- <script type="text/javascript">
  var doc = document.querySelector('link[rel="import"]').import;
  console.log(signedIn)
</script> -->

{% if user %}
<section id="setupBox">
  <h1>ENTER YOUR NAME:</h1>
</section>
{% endif %}

<section id="students">
  <h2 class="mystudents">My Students</h2>
  <!--  for real gotta loop thru this thing  use data stored in aft-login-st-menu -->
  <!-- the students' name can be accessed by '''.title''' -->

  {% for level1 in site.data.aft-login-st-menu.menu %}
  {% if level1.title == "Students"%}
  {% for level2 in level1.option %}
  <a href="../student-dash" role="button" class="btn btn-property-del" style="width:600px;">
    <div class="card">
      <div class="card-body">
        <img class="student-img" src="{{level2.image}}" alt="student picture" />
        <div class="text">
          <h3 class="student-name"> {{level2.title}} </h3>
          <p id="achievement" class="info">
            Grad Level/Start Ranking
          </p>

          <p>
            <!-- here add achievement about the student -->
            {{level2.achievement}}
          </p>

        </div>
      </div>
    </div>
  </a>
  {% endfor %}
  {% endif %}
  {% endfor %}



</section>
