{% for sidewidget in site.data.st-side-widget.side-widget %}

{% if sidewidget.image != null or if sidewidget.title != null or sidewidget.content != null %}
<section class="sidewidget text-center">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      {% if sidewidget.title != null %}
      <!-- sidewidget title -->
      <div class="title-line text-center">
        <p class="st-title">{{ page.title }} Module</p>
      </div>
      {% endif %}
    </div>
    <div class="col-2"></div>
  </div>
</section>
{% endif %}

<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>

<script>
  const firebase = require("firebase");
  // Required for side-effects
  require("firebase/firestore");
  var docRef = db.collection("courses").doc("computer-engineering");

  firebase.initializeApp({
    apiKey: "AIzaSyCoQD_u406p8aUjp2Dp5Euo5KlCOKhcFZ4",
    authDomain: "smart-hub-wod.firebaseapp.com",
    projectId: "smart-hub-wod",
  });

  var db = firebase.firestore();

  docRef.get().then((doc) => {
      if (doc.exists) {
          console.log("Document data:", doc.data());
      } else {
          // doc.data() will be undefined in this case
          console.log("No such document!");
      }
  }).catch((error) => {
      console.log("Error getting document:", error);
  });
</script>




{% endfor %}

<section class="sidewidget">

</section>
