<!-- forgot-password starts -->
<div class="st-forgot-password">
  <h2 class="text-center mb-5">Forgot password</h2>
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-12">
      <!-- form-starts -->
      <form action="" method="post">
        <!-- email input field starts -->
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" required>
        </div>
        <!-- email input field ends -->
        <!-- form button starts -->
        <div class="get-code-button">
          <button type="submit" class="btn">Send me reset link</button>
        </div>
        <!-- form button ends -->
      </form>
      <!-- form-starts -->
    </div>
  </div>
</div>
<!-- forgot-password ends -->
