<html lang="en">
<!-- head section starts -->

<head>

  {% seo %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- favicon -->
  <link rel="icon" href="{{site.favicon}}" type="image/png" sizes="16x16">
  <!-- touch-icons -->
  <link rel="shortcut icon" href="{{site.favicon}}">
  <link rel="apple-touch-icon-precomposed" href="{{site.favicon}}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.favicon}}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.favicon}}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.favicon}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap" rel="stylesheet">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <!-- main css -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- fancybox css -->
  <link rel="stylesheet" href="/assets/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <!-- fontawesome script -->
  <link rel="stylesheet" href="/assets/fontawesome/all.css">
  <!-- bootstrap jquery -->
  <script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
  <!-- <script type="module" src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
  <script type="module" src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script type="module" src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>
  <script src="/webpack/database.js"></script> -->
  <!-- <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script> -->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->

  <!-- <script>
    // Your web app's Firebase configuration
    // var firebaseConfig = {
    //   apiKey: "AIzaSyCoQD_u406p8aUjp2Dp5Euo5KlCOKhcFZ4",
    //   authDomain: "smart-hub-wod.firebaseapp.com",
    //   projectId: "smart-hub-wod",
    //   storageBucket: "smart-hub-wod.appspot.com",
    // };
    // // Initialize Firebase
    // firebase.initializeApp(firebaseConfig);
  </script> -->



<!-- page title -->
  <title>{{ page.title }}</title>
</head>
<!-- head section ends -->
