<html lang="en">
<!-- head section starts -->

<head>
  {% seo %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- favicon -->
  <link rel="icon" href="{{site.favicon}}" type="image/png" sizes="16x16">
  <!-- touch-icons -->
  <link rel="shortcut icon" href="{{site.favicon}}">
  <link rel="apple-touch-icon-precomposed" href="{{site.favicon}}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.favicon}}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.favicon}}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.favicon}}">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <!-- main css -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- fancybox css -->
  <link rel="stylesheet" href="/assets/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <!-- fontawesome script -->
  <link rel="stylesheet" href="/assets/fontawesome/all.css">
  <!-- bootstrap jquery -->
  <script src="/assets/js/jquery-3.3.1.slim.min.js"></script>


<!-- page title -->
  <title>{{ page.title }}</title>
</head>
<!-- head section ends -->
