{% if paginator.total_pages > 1 %}
<!-- pagination starts -->
<ul class="pager mb-5">
  {% if paginator.first_page %}
  <!-- first page link -->
  <li class="previous">
    <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">&#10096;&#10096;</a>
  </li>
  {% endif %}

  {% if paginator.previous_page %}
  <!-- previous page link -->
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"> &#10096; </a>
  </li>
  {% endif %}

  {% if paginator.page_trail %}
  {% for trail in paginator.page_trail %}
  <!-- before after trail -->
  <li {% if page.url==trail.path %}class="selected" {% endif %}>
    <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
  </li>
  {% endfor %}
  {% endif %}

  {% if paginator.next_page %}
  <!-- next page link -->
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"> &#10097; </a>
  </li>
  {% endif %}

  {% if paginator.last_page %}
  <!-- last page link -->
  <li class="previous">
    <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}"> &#10097;&#10097; </a>
  </li>
  {% endif %}
</ul>
<!-- pagination ends -->
{% endif %}
