<div class="page-banner {{include.class}}">
  <div class="container">
    <div class="d-sm-flex justify-content-between align-items-center">
      <div>
        <!-- <h1 class="choicetitle">{{page.title}}</h1> -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="breadcrumb-item choicetitle" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a href="/" itemprop="item"><span itemprop="name">Home</span></a>
              <meta itemprop="position" content="1" />
            </li>
            <li class="breadcrumb-item active text-dark" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <span itemprop="name">{{page.title}}</span>
              <meta itemprop="position" content="2" />
            </li>
          </ol>
        </nav>

      </div>
      <div>
        <a href="/signup/" class="btn">Signup For Newletters</a>
      </div>
    </div>
  </div>
</div>
