{% for sidewidget in site.data.st-side-widget.side-widget %}

{% if sidewidget.image != null or if sidewidget.title != null or sidewidget.content != null %}
<section class="sidewidget text-center">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      {% if sidewidget.title != null %}
      <!-- sidewidget title -->
      <div class="title-line text-center">
        <p class="st-title">{{ sidewidget.title }}</p>
      </div>
      {% endif %}
    </div>
    <div class="col-2"></div>
  </div>
  {% if sidewidget.image != null %}
  <!-- sidewidget image -->
  <a href="{{sidewidget.image}}" class="fancybox">
  <img class="img-fluid mb-3" src="{{ sidewidget.image }}" alt="{{ sidewidget.image-alt }}">
  </a>
  {% endif %}
  {% if sidewidget.content != null %}
  <!-- sidewidget content -->
  <p class="text-center">{{ sidewidget.content }}</p>
  {% endif %}
</section>
{% endif %}

{% if sidewidget.iframe != null %}
<section class="sidewidget d-none d-md-block">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <!-- sidewidget title -->
      <div class="title-line text-center">
        <p class="st-title">Social Feed</p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  {% for level1 in sidewidget.iframe %}
  <div class="mb-4 text-center">
    {{ level1.iframe }}
  </div>
  {% endfor %}
</section>
{% endif %}

{% if sidewidget.nav != null %}
<section class="sidewidget">
  {% assign nav-item = sidewidget.nav %}
  {% assign sidewidget-nav = site.data.st-menu.[{{nav-item}}] %}
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <!-- sidewidget title -->
      <div class="title-line text-center">
        <p class="st-title">Navigation Menu</p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <ul class="list-unstyled">
    {% for column in sidewidget-nav %}
    {% if column.option != null %}
    {% for column1 in column.option %}
    <!-- sidewidget navigation list -->
    <li class="mb-2">
    <a href="{{ column1.href }}">{{ column1.title }}</a>
    </li>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if sidewidget.recent-post == true %}
<!-- recent post starts -->
<section class="sidewidget recent-post">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <!-- sidewidget title -->
      <div class="title-line text-center">
        <p class="st-title">Recent Posts</p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
    <div>
      <ul>
        {% for post in site.posts limit:3 reversed %}
        <li>
          <div class="recent-post-image">
            <!-- recent-post image -->
            <a href="{{ post.url }}">
              <div class="sidewidget-image" style="background-image: url('{{ post.image }}');"></div>
            </a>
            <div class="button">
              <!-- recent post title and link -->
              <a href="{{ post.url }}">{{ post.title }}</a>
              <!-- recent post read more link -->
              <p><a href="{{ post.url }}" class="btn" role="button">Read More <i class="fas fa-long-arrow-alt-right ml-2"></i></a></p>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
</section>
<!-- recent post ends -->
{% endif %}
{% endfor %}

<section class="sidewidget">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <!-- sidewidget title -->
      <div class="title-line text-center">
        <p class="st-title">Your Cart</p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <ul class="list-unstyled your-cart">
    <li> <a href="/travel/"> <i class="fas fa-times-circle mr-2"></i>The Bart - 1950px 291… <strong>$5.00</strong></a></li>
    <li> <a href="/travel/"> <i class="fas fa-times-circle mr-2"></i>The Bart - 1950px 291… <strong>$5.00</strong></a></li>
    <li> <a href="/travel/"> <i class="fas fa-times-circle mr-2"></i>The Bart - 1950px 291… <strong>$5.00</strong></a></li>
    <li> <a href="/travel/"> <i class="fas fa-times-circle mr-2"></i>The Bart - 1950px 291… <strong>$5.00</strong></a></li>
  </ul>
  <p class="text-center"><strong>$25.00</strong></p>
  <a href="/checkout/" class="checkout-button btn w-100"> Go to checkout</a>
</section>
