---
# Add any custom css for your website
---

@import "stocky";

// Designing the after login navar
#login-nav .dropdown {


}

// changing default button bg-color
.btn-property-del {
  background-color: white !important;
  padding: 0 !important;
  text-align: left !important;
  color: black !important;
}
.btn-property-del:hover {
  background-color: white !important;
}

// Index carousel

.home-post-category-section .title-text {
  color: white;
  font-weight: bold;
}

.home-post-category-section .items-align {
  text-align: left;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-top: 1rem;

}


.home-post-category-section .carousel-inner .text {
  max-width: 25rem;
  color: white;
}

// .home-post-category-section h1 h3 p {
//   color: white !important;
// }

.home-post-category-section img {
  float: left;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  margin-right: 3rem;
}

.home-post-category-section .ref-name {
  width: 10rem;
  display: block;
  clear:left;
  font-style:italic;
  font-weight:lighter;
  margin: 0.63rem 0 0 16rem;
  color: white;

}

.home-post-category-section .fas {
  color: #BFDCE5;
  font-size: 2rem;
}

// parent dashboard

// Welecome section
#welcome .container-fluid {
  padding: 10% 7% 3% 7%;
  color: #8c8a89;
}

#welcome .btn {
  margin-right: 12%;
}

// refractor name, also used this selector in course-heading
.name {
  color: #0b3f84;
  font-size: 2.63rem;
  font-weight: bold;
}

.dash-info-text {
  padding: 2% 5% 3% 0;
}

// Students section

.mystudents {
  margin-top: 5%;
  color: #0b3f84;
  font-size: 1.65rem;
  font-weight: bold;
}

#students .card {
  width: 100%;
  background-color: #0b3f84;
  border-radius: 3rem;
  margin-top: 5%;
}

#students .card-img-top {
  float: right;
}

#students .text {
  position: relative;
  top: 2rem;
  left: 3rem;
  color: white;
}

.student-img {
  float: left;
  background: -webkit-linear-gradient(left top, red 0%, blue 100%);
  width: 200px;
  height: 200px;
  border-radius: 1000px;
  padding: 10px;
}

.student-name {
  font-size: 2.25rem;
  font-weight: 700;
  color: white;
}

#achievement.info {
  font-size: 1.5rem;
  font-weight: 600;
}

// Cart Page start

#cart.container {
  margin-top: 10%;
  overflow: hidden;
  padding-bottom: 10rem;
}

#cart .card {
  background-color: #E5E5E5;
  margin-top: 3%;
}

#cart .card-title {
  font-weight: bold;
  color: #0b3f84;

}

#cart .card-subtitle {
  color: #8c8a89;
  font-size: 1rem;

}

#cart .card-header {
  display: flex;
  justify-content: flex-end;
  border:none;
  background-color:#E5E5E5;
  padding-bottom: 0;
}

.card-price {
  display: flex;
  border: none;
  background-color: white;
  justify-content: flex-end;
  padding-right: 4rem;

}

.card-price .card-title {
  font-size: 3rem;
}
.course-img {
  float: left;
  width: 30%;
  border-radius: 50%;
}

.cart-heading {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  color: #0b3f84;
}

.course-text {
  position: relative;
  left: 10%;
  color: #0b3f84;
  width: 48rem;
}


.course-info {
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
  bottom: 0.1rem;
}

.course-list {
  font-size: 1.2rem;
  padding-left: 35%;
  margin-bottom: 0;
}

.course-price {
  position: relative;
  top: 10rem;
  left: 45rem;
  font-size: 4rem;
  color: #0b3f84;
}

// price tag under the cart page
.price-tag {
  text-align: right;
}

.price-text {
  display: inline-block;
  font-size: 1.75rem;
}

.tot {
  padding-right: 30%;
}

// Student dashboard

#studentDash .btn-pos {
  position: absolute;
  right: 0;
  bottom: 1.5rem;
}

#studentDash .betweenSection {
  margin-bottom: 10%;
}

#studentDash .card {
  box-shadow: 4px 3px 8px 1px #969696;
  border-radius: 0 0 30px 30px;
}

#studentDash .card-body {
  border-radius: 0 0 30px 30px;
}


#studentDash .card-title {
  font-weight: bold;
}

#studentDash-profile .btn.fas {
  font-size: 2rem;
  background-color: white !important;
  position: absolute;
  right: 0;

}

#studentDash-profile .btn-pos {
  bottom: 0;
}

#mycourses .card-body {
  background-color: #0B3F84;
  color: white;
}


.student-picture {
  float: left;
  width: 30%;
  border-radius: 30%;

}

// student PAOD portal starts!
body#paod {
  // or 52006A
  background: linear-gradient(90deg, #7952B3, #FB7AFC);

}

#paod br {
  border: solid grey;
}

#paod h3 {
  text-align: left;
}

#paod p {
  text-align: left;
}

#paod .btn {
  background-color: #F7DBF0 !important;
  border: none;
  border-radius: 0;
  color: grey;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: left;
}

#paod .icon {
  font-size: 2rem;
  // padding-left: 0.3rem;
  padding-right: 0.8rem;

}

#paod .btn:hover {
  background-color: #dbd4da !important;

}

.toCol {
  display: flex;
  flex-direction:column;

}

.toCent {
  align-items: center;
}

#paod .student-img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: solid white;
  border-width: 10px;
  background: none;

}


#paod .btns-div {
  justify-content: flex-start;
}

#paod .name {
  font-size: 2rem;

}

#paod .role-text {
  font-size: 1.3rem;
  font-weight: 500;
}

#paod .title {
  text-align: left;
}

// row adjust

#paod .col-9{
  background-color: white;
  overflow-x: hidden;
  border-radius: 0 0 10px 0;

}

#paod .row {
  margin-right: 0;

}

.portal-container {
  text-align: center;
  margin: 5% 10%;
  background-color: #F7DBF0;
  border-radius: 10px;
}

.portal-header {
  background-color: #C6B4CE;
  text-align: left;
  border-radius: 10px 10px 0 0;

}

.portal-header-text {
  padding: 2px 5px;
  background-color: none;


}


#setting.btn {
  border-radius: 0 0 0 10px;
  padding-bottom: 1rem;
}

// Each functionality sections

.paod-shadow {
  box-shadow: 1px 1px 7px 3px #f7dbf0;
}


.performanceStat {

}

.stat-img {

}

.recentGrades {

}

.notifications {

}

// Changing default alert-design
#paod .alert {

}

#paod .alert-warning {
  background-color: none;
  border: none;
}
